*{
  font-family: 'Roboto', sans-serif;
}
body {
  margin: 0;
  box-sizing: border-box;
  background-color: rgba(247, 66, 46, 0.712);
}


h1{
  padding-top: 5%;
  font-size: 3rem;
  color: #ffff;
  text-align: center;
  margin: auto;
}